<section style="    background: white;" class="blog_area section-padding">
  <div class="container">
    <div class="row">
      <nb-card style="width: 100%; background: white; ">
        <nb-card-header style="color: black;">Cận lâm sàng</nb-card-header>
        <nb-card-body>
          <span style="color: black;font-size: 18px; font-weight: 500;" *ngFor="let status of options"> {{status.name}}
            <nb-radio-group style="display: block; margin-left: 30px; margin-top: 10px; margin-bottom: 10px;"
                            [name]="status.name">
            <nb-radio style="color: black;"
                      *ngFor="let option of status.symptomDTOList"
                      (valueChange)="onChange($event)"
                      [value]="option.id">
              {{ option.name }}
            </nb-radio>

          </nb-radio-group>
          </span>

        </nb-card-body>
        <nb-card-footer class="text-right">
          <button nbButton type="button" nbButton> {{ 'common.come' | translate }} </button>
          <button nbButton type="button" class="ml-2" status="primary" (click)="submitForm()"
                  id="dialogCancelBtn">{{ 'common.cd' | translate }}</button>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</section>
