<!-- Content page -->
<section style="height: 100%;" class="bg0 p-t-75 p-b-120">
  <div style="min-height: 600px; padding-top: 50px;" class="container">
    <div class="row" style="display: contents;">
      <h3 class="mtext-111 cl2 p-b-16" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
        Tri thức về bệnh phổi
      </h3>
      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" routerLink="/tri-thuc/keytest">1. Mở đầu</a></p>

      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" href="https://bvptw.org/page-file/60-nam-xay-dung-va-phat-trien-ben-vung-20180515104502714.html">2. 60 Năm xây dựng và phát triển bền vững</a></p>

      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" href="https://bvptw.org/page-file/hinh-anh-lanh-dao-dang-va-nha-nuoc-voi-benh-vien-20180515104644204.html">3. Hình ảnh Lãnh đạo Đảng và nhà nước với Bệnh viện</a></p>

      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" href="https://bvptw.org/page-file/ban-lanh-dao-benh-vien-qua-cac-thoi-ky-20180515105331338.html">4. Ban lãnh đạo bệnh viện qua các thời kỳ</a></p>

      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" href="https://bvptw.org/page-file/ban-lanh-dao-benh-vien-hien-nay-20180515105405775.html">5. Ban lãnh đạo bệnh viện hiện nay</a></p>
<!--      <pdf-viewer [src]="pdfSrc"-->
<!--                  [render-text]="true"-->
<!--                  style="display: block;"-->
<!--      ></pdf-viewer>-->
    </div>
  </div>
</section>
