<div class="map-module-dialog" nbSpinnerSize="giant" nbSpinnerStatus="primary" [nbSpinner]="loading" >
  <nb-card>
    <nb-card-header>
      {{ title }}<span class="font-weight-bold text-danger">Xác định bệnh cận lâm sàng</span>
    </nb-card-header>
    <nb-card-body>
      <div class="mb-4">
        <div class="row">
          <div class="col-lg-2 form-group">
            <label class="label">
              Số lượng xét nghiệm
            </label>
            <input type="number" max="{{amount}}" min="0" nbInput fullWidth [(ngModel)]="paramSearch.amount1">
          </div>
          <div class="col-lg-4 form-group">
            <label class="label">
              Xét nghiệm
            </label>
            <ng-select [clearAllText]="'common.clearAllText'"
                       placeholder="{{'common.placeHolder' |translate}}"
                       notFoundText="{{'common.notFoundText' |translate}}" [maxSelectedItems]="paramSearch.amount1"
                       (change)="changeLeagueOwner($event)"
                       fullWidth [(ngModel)]="paramSearch.lsId" [multiple]="true">
              <ng-option *ngFor="let item of originalData" [value]="item.testdiseaseId">
                <span title="{{item.nameTypeDisease | translate }}" class="cut-text"> {{ item.nameTypeDisease | translate }}</span>
              </ng-option>
            </ng-select>
          </div>
          <div class="col-lg-4 form-group">
            <label class="label">
              Triệu chứng
            </label>
<!--            <ng-select [clearAllText]="'common.clearAllText'"-->
<!--                       placeholder="{{'common.placeHolder' |translate}}"-->
<!--                       notFoundText="{{'common.notFoundText' |translate}}"-->
<!--                       [groupBy]="groupingHelper"-->
<!--                       fullWidth [(ngModel)]="paramSearch.lsXn" [multiple]="true">-->
<!--              <ng-option *ngFor="let item of lsTt" [value]="item.id">-->
<!--                <span title="{{item.name | translate }}" class="cut-text"> {{ item.name | translate }}</span>-->
<!--              </ng-option>-->
<!--            </ng-select>-->
            <ng-select [items]="lsTt"
                       bindLabel="name"
                       bindValue="id"
                       [groupBy]="groupingHelper"
                       [multiple]="true"
                       [(ngModel)]="paramSearch.lsXn">
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.name || 'Unnamed group'}}
              </ng-template>
            </ng-select>
          </div>
          <div class="form-group col-lg-2 align-items-end d-flex">
            <button nbButton  type="button" status="primary" (click)="submit()">{{ 'common.add' | translate }}
            </button>
          </div>
        </div>
      </div>
      <ngx-datatable ngxResizeWatcher class="material"
                     [columnMode]="'flex'"
                     [rows]="rows"
                     [columns]="columns"
                     rowHeight="auto"
                     [limit]="5"
                     [footerHeight]="50"
                     [headerHeight]="50"
                     [messages]="{ emptyMessage: 'common.notFoundText' | translate, totalMessage: 'common.totalMessage' | translate, selectedMessage: 'common.selectedMessage' | translate }">
        <ng-container *ngFor="let col of columns">
<!--          <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [flexGrow]="col.flexGrow"-->
<!--                                [headerCheckboxable]="col.headerCheckboxable" [checkboxable]="col.checkboxable">-->
          <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [flexGrow]="col.flexGrow">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{ column.name | translate }}
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex='rowIndex'>
              <ng-container *ngIf="col.prop ==='index'" class="index-col">
                {{ page.offset * page.limit + rowIndex + 1 }}
              </ng-container>
              <ng-container *ngIf="col.prop === 'amount' || col.prop === 'nameXn'">
                {{value}}
              </ng-container>
              <ng-container
                *ngIf="col.prop !=='amount' && col.prop !=='nameXn' && col.prop !=='status' && col.prop !=='code' ">
                <span class="row-data-show" title="{{value}}">{{ value }}</span>
              </ng-container>
              <ng-container *ngIf="col.prop ==='description' " class="text-right">
                  <span class="row-data-show"
                        title="{{value}}">{{value.length > 50 ? value.substring(0, 50).concat('...') : value}}</span>
              </ng-container>
              <ng-container *ngIf="col.prop ==='updateTime'">
                {{value | date:'dd/MM/yyyy HH:mm:ss'}}
              </ng-container>
              <ng-container *ngIf="col.prop ==='action_btn'" class="text-right">
                <div>
                  <button class="p-1" nbButton status="danger" ghost title="{{ 'common.delete' | translate }}" (click)="delete(row)"
                         >
                    <nb-icon icon="trash-2-outline" pack="eva" size="tiny"></nb-icon>
                  </button>
                </div>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
        </ng-container>
      </ngx-datatable>
    </nb-card-body>
<!--    <nb-card-footer class="text-right">-->
<!--      <button nbButton type="button" status="primary" (click)="submit()"-->
<!--              id="dialogCancelBtn">{{ 'common.save' | translate }}</button>-->
<!--      <button nbButton type="button" nbButton (click)="cancel()"-->
<!--              class="ml-2"> {{ 'common.cancel' | translate }} </button>-->
<!--    </nb-card-footer>-->
  </nb-card>
</div>
