<div class="map-module-dialog" nbSpinnerSize="giant" nbSpinnerStatus="primary" [nbSpinner]="loading">
  <nb-card>
    <nb-card-header>
      {{ title }}<span class="font-weight-bold text-danger">{{ data.name }}</span>
      <div class="bt-action">
        <span>
          <button ghost size="tiny" nbButton class="objLink float-right" (click)="cancel()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="inputProduct">
        <div class="mb-4">
          <div class="row">
            <div class="col-lg-3 form-group">
              <label class="label">{{ 'common.table.item_product_size' | translate }}</label>
              <ng-select [clearAllText]="'common.clearAllText'"
                         placeholder="{{'common.placeHolder' |translate}}"
                         notFoundText="{{'common.notFoundText' |translate}}"
                         fullWidth formControlName="sizesId">
                <ng-option *ngFor="let item of lstRole1" [value]="item.id">
                  <span title="{{item.name | translate }}" class="cut-text"> {{ item.name | translate }}</span>
                </ng-option>
              </ng-select>
            </div>
            <div class="col-lg-3 form-group">
              <label class="label">{{ 'common.table.item_product_color' | translate }}</label>
              <ng-select [clearAllText]="'common.clearAllText'"
                         placeholder="{{'common.placeHolder' |translate}}"
                         notFoundText="{{'common.notFoundText' |translate}}"
                         fullWidth formControlName="colorsId">
                <ng-option *ngFor="let item of lstRole2" [value]="item.id">
                  <span title="{{item.name | translate }}" class="cut-text"> {{ item.name | translate }}</span>
                </ng-option>
              </ng-select>
            </div>
            <div class="col-lg-3 form-group">
              <label class="label">
                {{ 'common.table.item_product_sl' | translate }} <span style="color: red">(*)</span>
              </label>
              <input class="custom-border" formControlName="amount" type="text" nbInput fullWidth trim="blur"
                     [ngClass]="{'status-danger': this.inputProduct.get('amount').touched && this.inputProduct.get('amount').errors}">
              <ngx-inline-message [message]="'common.table.item_product_sl'|translate"
                                  [formName]="inputProduct.get('amount')"></ngx-inline-message>
            </div>
            <div class="col-lg-3 form-group">
              <button [disabled]="inputProduct.invalid" nbButton type="button" status="primary"
                      (click)="addSizeColor()">{{ 'common.add' | translate }}</button>
            </div>
          </div>
        </div>
        <ngx-datatable ngxResizeWatcher class="material"
                       [columnMode]="'flex'"
                       [rows]="rows"
                       [columns]="columns"
                       rowHeight="auto"
                       [footerHeight]="50"
                       [headerHeight]="50"
                       (page)="addSizeColor()"
                       [messages]="{ emptyMessage: 'common.notFoundText' | translate, totalMessage: 'common.totalMessage' | translate }">
          <ng-container *ngFor="let col of columns">
            <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [flexGrow]="col.flexGrow">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{ column.name | translate }}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex='rowIndex'>
                <ng-container
                  *ngIf=" col.prop ==='amount' || col.prop ==='nameColor' || col.prop ==='nameSize' "
                  class="text-right">
                        <span class="row-data-show"
                              title="{{value}}">{{value.length > 50 ? value.substring(0, 50).concat('...') : value}}</span>
                </ng-container>
                <ng-container *ngIf="col.prop ==='action_btn'" class="text-right">
                  <div>
                    <button class="p-1" nbButton status="danger" ghost title="{{ 'common.delete' | translate }}"
                            (click)="deleteSizeColor(row)">
                      <nb-icon icon="trash-2-outline" pack="eva" size="tiny"></nb-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
          </ng-container>
        </ngx-datatable>
      </form>
    </nb-card-body>
  </nb-card>
</div>
