<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85" [nbSpinner]="isLoad" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1">Sản phẩm</th>
                <th class="column-2"></th>
                <th class="column-3">Giá</th>
                <th class="column-4" style="text-align: center;">Số lượng</th>
                <th class="column-5">Tổng tiền</th>
              </tr>

              <tr *ngFor="let item of obj" class="table_row">
                <td class="column-1">
                  <div class="how-itemcart1">
                    <img src="{{item.imageLink}}" alt="IMG">
                  </div>
                </td>
                <td class="column-2">{{item.nameSize}} - {{item.name}}</td>
                <td class="column-3">{{item.cost}}</td>
                <td class="column-4" style="text-align: center;">
                  {{item.amount}} Chiếc
<!--                  <form [formGroup]="inputForm">-->

<!--                    <div class="sosanpham">-->
<!--                      <button style="border: 1px solid;" (click)="soluong(0)">-->
<!--                        <span style="color: black; font-weight: 500;">-</span>-->
<!--                      </button>-->
<!--                      <input type="number" formControlName="amount" value="{{item.amount}}" name="" >-->
<!--                      <button style="border: 1px solid;" (click)="soluong(1)">-->
<!--                        <span style="color: black; font-weight: 500;">+</span>-->
<!--                      </button>-->
<!--                    </div>-->
<!--                  </form>-->

                </td>

                <td class="column-5">{{item.totalPrice1}}</td>
              </tr>
            </table>
          </div>

          <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
            <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
              Cập nhật giỏ hàng
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          <h5 class="mtext-109 cl2 p-b-30" style="color: black">
            Thông tin thanh toán
          </h5>
          <form [formGroup]="inputForm">
            <div class="flex-w flex-t bor12 p-t-15 p-b-30">
              <div class="size-209 p-r-0-sm w-full-ssm">
                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" nbInput fullWidth formControlName="name" placeholder="Họ và tên">
                  <ngx-inline-message [message]="'common.table.item_username'|translate"
                                      [formName]="inputForm.get('name')"></ngx-inline-message>
                </div>
                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" nbInput fullWidth formControlName="mail" placeholder="Email">
                  <ngx-inline-message [message]="'common.table.item_username'|translate"
                                      [formName]="inputForm.get('mail')"></ngx-inline-message>
                </div>
                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" nbInput fullWidth formControlName="phone" placeholder="Số điện thoại">
                  <ngx-inline-message [message]="'common.table.item_username'|translate"
                                      [formName]="inputForm.get('phone')"></ngx-inline-message>
                </div>
                <div class="bor8 bg0 m-b-12">
                  <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" nbInput fullWidth formControlName="address" placeholder="Địa chỉ">
                  <ngx-inline-message [message]="'common.table.item_username'|translate"
                                      [formName]="inputForm.get('address')"></ngx-inline-message>
                </div>
              </div>
            </div>

          </form>

          <div class="flex-w flex-t p-t-27 p-b-33">
            <div class="size-208">
								<span class="mtext-101 cl2">
									Tổng tiền:
								</span>
            </div>

            <div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									{{totalPrice}}
								</span>
            </div>
          </div>
          <div style="display: flex;">
<!--            <button  nbButton [disabled]="inputForm.invalid" (click)="thanhToan()" type="button" status="primary"-->
<!--                    id="dialogCancelBtn">{{ 'common.save' | translate }}</button>-->
            <button [disabled]="inputForm.invalid" (click)="thanhToan()"
                    class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
              Thanh toán
            </button>
            <button [disabled]="inputForm.invalid" (click)="checkStatusOrder()"
                    class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
              Kiểm tra đơn hàng
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>

